body { 
    font-family: Arial, sans-serif;
     background: #f9f9f9; 
     padding: 20px; 
    }
header {
    background: #4CAF50; 
    color: white; 
    padding: 15px;
    text-align: center;
    font-size: 20px; 
}
nav { 
    background: #333;
    display: flex;
    justify-content: center;
  }
nav a {
     color: white; 
     padding: 14px 20px; 
     text-decoration: none;
      display: block; 
   }
nav a:hover {
     background: #ddd; 
     color: black; 
    }
h2 {
     text-align: center; 
}
.course {
     background:white; 
     padding:15px; 
     margin:15px auto;
    border-radius:8px; 
    width:80%;
    box-shadow:0 0 5px rgba(0,0,0,0.1);
}
h3{
    color:#4CAF50;
}
footer{
    text-align: center;
    color: white;
    background-color: #333;
}