body {
     font-family: Arial, sans-serif;
      background: #f9f9f9; 
      display: flex;
       justify-content: center;
        align-items: center; 
        height: 100vh;
}

.login-box {
     background:white;
      padding:20px; 
      border-radius:8px; 
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      width: 300px;
}
input{
     width:100%; 
     padding:10px;
     margin:10px 0; 
     border-radius:5px; 
     border:1px solid #ccc; 
    }
button {
    background:#4CAF50; 
    color:white;
    padding:10px; 
    border:none;
    border-radius:5px; 
    cursor:pointer;
    width:100%; 
}
button:hover {
    background:#45a049;
 }
 